.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  bottom: 0;
  right: 0;
  width: 50%;
  padding-top: 50%;
  width: 141.42%;
  padding-top: 141.42%;
  background: #60d0ad;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(50%) translateY(100%) rotate(-45deg);
  transform: translateX(71%) translateY(100%) rotate(-45deg);
  pointer-events: none;
}

.pace.pace-active .pace-activity {
  -webkit-transform: translateX(50%) translateY(50%) rotate(-45deg);
  transform: translateX(50%) translateY(50%) rotate(-45deg);
}
