<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    <img src="assets/img/logo_dark.png" class="logo">
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">ESTÁ CHEGANDO..</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">Falta pouco para o lançamento do app</p>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    Realização <a href="https://www.igrejadaorla.com.br" target="_blank">Igreja da Orla</a>
  </div>
</div>
